:root{
    --color-intro-background: hsl(217, 28%, 15%);
    --color-main-background: hsl(218, 28%, 13%);
    --color-footer-background: hsl(216, 53%, 9%);
    --color-testimonial-background: hsl(219, 30%, 18%);
    --color-font:hsl(0, 0%, 100%);
    --color-btn:hsl(176, 68%, 64%);
}


